
.section
	display: block
	clear: both


	&-featured
		height: 530px
		margin-right: 15px


	&-sokoban
		height: 250px
		margin-left: 15px
		margin-bottom: 30px
		padding: 25px
		background-color: $colors.green


	&-contribute
		height: 250px
		margin-left: 15px
		color: $colors.white
		background-color: $colors.orange




	&-news
		margin-left: 15px
		color: $colors.white
		background-color: $colors.orange

		& > .column
			width: 120px
