
.header
	
	padding: 25px 0
	border-bottom: 1px solid $colors.lightGrey
	

	.logo
		font-size: 52px
		font-family: 'Passion One'
		font-weight: 900
		letter-spacing: 2px
		line-height: 42px
		text-transform: uppercase