global-reset()


@require '../assets/css/normalize.css'


// global styles

@require 'framework/_grid'
@require 'framework/_mixins'
@require 'framework/reset'


// global app styling

@require 'app/_settings'
@require 'app/_global'
@require 'app/_animation'

@require 'app/_header'
@require 'app/_main'
@require 'app/_footer'



// app specific components
@require 'app/_game'
@require 'app/components/_menu'
@require 'app/components/_button'
@require 'app/components/_list'
@require 'app/components/_list-levels'
@require 'app/components/_section'
@require 'app/components/_socials'

//@require 'app/components/label'
//@require 'app/components/tooltip'
