global-reset()

@import 'nib'

@require '../assets/css/normalize.css'


// global styles

@require 'framework/_grid'
@require 'framework/_mixins'



// app specific components

@require 'sokoban/_settings'
@require 'sokoban/_global'
@require 'sokoban/_dialog'
@require 'sokoban/_scene'
@require 'sokoban/_interface'
@require 'sokoban/_button'


//@require 'sokoban/components/dialog'
//@require 'sokoban/components/label'
//@require 'sokoban/components/tooltip'
