global-reset()



// global styles

@require 'framework/grid'
@require 'framework/mixins'



// global app styling

@require 'app/settings'
@require 'app/global'
@require 'app/animation'

@require 'app/header'
@require 'app/main'
@require 'app/footer'



// app specific components
@require 'app/components/menu'
@require 'app/components/button'
@require 'app/components/list'
@require 'app/components/list-levels'
@require 'app/components/section'
@require 'app/components/socials'

//@require 'app/components/label'
//@require 'app/components/tooltip'