
$colors = {

	white: #ffffff

	lightwhite: #e0e0e0

	yellow: #FFDFAA
	orange: #ED6040
	red: #FFC0A7

	pink: #D13DCF


	green: #a2cf48


	lightGrey: #e9e9e9
	grey: #c0c0c0
	darkGrey: #303030


	lightBlue: #3BC2B1
	//blue: #D9E4ED,
	//darkblue: #3B4859,
	blue: #3DB6D1
	darkblue: #2491A9
	verydarkblue: #31464F

	black: #000000

}


$colors.message = {
	info: $colors.blue
	warning: $colors.yellow
	error: $colors.red
}



$colorPreset = {

	light: $colors.white

	dark: $colors.black

	neutral: $colors.grey

	auth: $colors.orange

	play: $colors.blue

}



$socials = {

	facebook: #3b5998

	twitter: #00aced

	googleplus: #d34836

	pinterest: #bd081c

}



// define the color set with 5 colors
$colors.primary = $colors.blue
$colors.secondary = $colors.darkblue


$font = {

	thick: 'Passion One'

}



$menu = {
	backgroundcolor: $colors.blue

	item: {
		font: lighten($colors.lightGrey, 25%)
		default: none,
		active: $colors.darkblue
	}
}

$text = {

	default: $colors.darkGrey,

	link: $colors.white,
	link_hover: $colors.white

}

$button = {

	border: darken($colors.lightGrey, 10%)

}

$panel = {

	border: darken($colors.lightGrey, 10%)
	bg: $colors.white
}


$globe = {


	bg: $colors.white,
	land: #454545,
	country: $colors.verydarkblue,
	point: $colors.orange,
	arc: $colors.black,
	flyer: #8615A5,

	interact: $colors.orange

	//bg: #262216,
	//land: #49412c,
	//country: #49412c,
	//point: #97743a,
	//arc: $colors.black,
	//flyer: #8615A5

}


$presets = {

	dark: #262216,
	light: #49412c,

	highlight: #97743a,
	matt: #b0a18e

}


$settings = {

	transition: 'all 250ms ease-in-out',

	font: '"Trebuchet MS", Helvetica, sans-serif'

	menu: {
		height: 80px
	}

}
