
.dialog

  //width: 420px
  //height: 360px
  //margin: -180px 0 0 -210px

  display: block

  z-index: 100
  position: absolute
  top: 50%
  left: 50%

  background-color: alpha($colors.white, 0.98)
  border: 3px solid $colors.grey

  &-title
  &-content
    padding: 15px


  &-content

    text-align: center

    p
      margin: 0 0 5px 0
      font-size: 14px

    h1
      margin: 0
      color: $colors.green
      font-family: Bangers
      font-size: 56px
      font-weight: 900
