
.dialog
	
	width: 640px
	height: 440px
	display: block
	
	margin: -220px 0 0 -320px
	padding: 32px
	
	z-index: 10
	position: fixed
	left: 50%
	top: 50%
	
	text-align: center
	background-color: $colors.lightGrey
	


	&-title
		padding: 0 0 12px 0
		color: $colors.darkGrey
		font-weight: bold
		font-size: 32px
		font-family: $font.thick
		font-weight: 600
		text-transform: uppercase	
		

	&-text
		padding: 0 0 24px 0
		text-align: center
		
		& > p
			margin: 0 0 24px 0