
#labels 
	
	.label
		padding: 3px 6px
		color: $colors.white
		font-size: 0.75em
		text-shadow: #444 0px 1px 1px
		cursor: pointer
		position: absolute
		transition: opacity 250ms ease-in-out, background 250ms ease-in-out
		border-radius: 4px
		
		&:hover
			background: #090909
			

		&-marker
			width: 12px
			height: 12px
			position: absolute
			left: -6px
			top: -6px
			border-radius: 50%
			border: 1px solid rgba(255,255,255,0.5)
